.header {
    font-size: 50px;
}

.navList {
    display: flex;
    list-style-type: none;
}

.listItems{
    display: block;
    flex: 0 1 auto;
    list-style-type: none;
}

.navLinks {
    flex: 0 1 auto;
    padding-right: 20px;
    list-style-type: none;
}

.combinedChart {
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 30;
    padding-bottom: 150px;
    margin-top: 50px;
    color: orange
}

.header {
    text-align: center;
}

.yosemite {
  z-index:-1;
  height: 100%; 
  width: 100%;
  position: relative;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
}

#containerHome {
    position: center;
    /* background-color: lightgreen; */
    text-align: center;
    position: absolute;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -140%);
}

#woodLink {
    position: center;
    text-align: center;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

a:hover {
    color: orangered;
}

.header {
    display: block;
    position: absolute;
    transform: translate(95%, -90%);
    margin: 0 auto;
    text-align: center;
}

.products {
    list-style: none;
    text-align: center;
    width: 50%;
    transform: center;
    margin: 0 auto;
}

.productList {
   list-style: none; 
   font-size: 20px;
   font-weight: bold;
}

.productListLast {
    list-style: none;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: bold;

 }

.buttonDiv {
    text-align: center;
    font-size: 20px
}

img {
    padding-top: 20px;
    width: 90%;
}

.button {
    font-size: 20px
}

#cartBox {
    width: 100%;
    text-align: center;
    margin-top: 100px
}

.productContainer {
    text-align: center;
}